body {
    background-color:rgb(77, 77, 243);
    height: 100vh;
}
.container {
  max-width: 90%;        
  margin: 20px auto;     /* centraliza horizontalmente e dá margem em cima e baixo */
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f0f0f0;
  box-sizing: border-box;
  font-size: 1.1rem;     /* texto um pouco maior */
  display:flex;
  align-items:center;
  align-content:center;
  flex-direction:column;
  
}
.meio {
   border: 2px solid #000;
  padding: 40px;
  border-radius: 12px;
  background-color: #f9f9f9;
  width: 90%;
  max-width: 1400px;
  min-height:66vh;
  margin: 40px auto;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.15);
}
 .imagem-container {
  text-align: center;
  margin: -400px 20px;
}

.img-centro {
  width: 400px; /* ou o tamanho que preferir */
  height: auto;
  display: inline-block; /* para respeitar o text-align da div */
  border-radius: 8px;    /* opcional, para cantos arredondados */
}
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }
  .meio {
    padding: 20px;
  }
}


